# General ignores for all directories
*.pyc
*.pyo
**/__pycache__/
*.swp
*~

# Python-specific ignores
python/venv/
python/*.egg-info
python/dist/
python/build/

# Rust-specific ignores
rust/target/
rust/debug/
rust/Cargo.lock

# Editor-specific ignores (optional)
.vscode/
.idea/

# Additional ignores (optional)
.DS_Store
.env